<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewAnalysisService" closeTimeout="00:03:00"
                    openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="5242880"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_INewAnalysisService1" closeTimeout="00:03:00"
                    openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                    textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="false"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="5242880"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IUserAdministrationService" />
                <binding name="BasicHttpBinding_INewAnalysisService2" />
                <binding name="BasicHttpBinding_INewAnalysisService3" />
                <binding name="BasicHttpBinding_IUserAdministrationService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://soulwraith.no-ip.biz:2222/UserAdministrationService-BusinessLayer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewAnalysisService"
                contract="UserAdministrationService.IUserAdministrationService"
                name="BasicHttpBinding_IUserAdministrationService" />
            <endpoint address="http://soulwraith.no-ip.biz:2222/NewAnalysisService-BusinessLayer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewAnalysisService"
                contract="AnalysisService.INewAnalysisService" name="BasicHttpBinding_INewAnalysisService" />
            <endpoint address="http://localhost:10002/EFamily.BusinessLayer.InBound/NewAnalysisService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewAnalysisService3"
                contract="AnalysisServiceLocal.INewAnalysisService" name="BasicHttpBinding_INewAnalysisService1" />
            <endpoint address="http://localhost:10002/EFamily.BusinessLayer.InBound/UserAdministrationService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAdministrationService1"
                contract="UserAdministrationServiceLocal.IUserAdministrationService"
                name="BasicHttpBinding_IUserAdministrationService1" />
        </client>
    </system.serviceModel>

    <runtime>
      <legacyUnhandledExceptionPolicy enabled="1"/>
      <ThrowUnobservedTaskExceptions enabled="true"/>
    </runtime>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
